.container.about-bar {
    border-radius: 30px;
    background: linear-gradient(90deg, #e2faed, #ccdffc);
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.container.about-content {
    border-radius: 30px;
    background-color: white;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

#left {
    justify-content: left;
    text-align: left;
}

#right {
    justify-content: right;
    text-align: right;
}

.about-header {
    max-width: fit-content;
    max-height: fit-content;
    margin: auto;
}


.image-container {
    justify-content: left;
    align-self: center;
    max-height: 280px;
    max-width: fit-content;
}

.img-fluid {
    border-radius: 100%;
    max-height: 250px;
}