.main-header {
    padding: 2rem;
    padding-left: 60px;
    padding-right: 60px;
    height: 300px;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-position: center;
    justify-content: center; /* Change this from space-between to center */
    align-items: center; /* Center vertically if needed */
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .logo-img {
        border: 3px solid #000000;
        background-color: white;
        display: block;
        min-width: 150px;
        max-width: 150px;
        height: auto;
        border-radius: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .logo-title {
        text-align: center;
        padding: 40px;
    }

    h3 {
        color: rgb(78, 153, 149);
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
    }
}

.user-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
    white-space: nowrap;
}

.profile-image {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    margin: 0;
    list-style: none;
}

.nav-link {
    font-size: 1.2rem;
    padding: 10px 20px;
    text-align: center;
}

img {
    border-radius: 30px;
    object-fit: cover;
    max-width: 100%;
}