#main-top {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    position: static;
}

#main-body {
    min-height: 100%;
}

#main-footer {
    padding: 2rem 1rem; 
    margin-top: 2rem;
    background-color: #e9ecef; 
    min-height:100%; width: 100%; 
    text-align:center;
}